body{
    background-color: #fedccc;
    font-family: 'Anton', sans-serif;
    color:white;
    margin-left:5%;
    margin-right:5%;
}

em{
    color:white
}

h1, strong{
    color:darksalmon
}

.eng{
    width:40%;
    margin-left:2%;
    margin-right:2%;
    display:inline-block;
    vertical-align:top;
    text-align:justify;
}

.spn{
    width:40%;
    margin-left:2%;
    margin-right:2%;
    vertical-align:top;
    text-align:justify;
    float: right;
    margin-top: 0
}

