body{
    background-color: #fedccc;
    font-family: 'Oswald', sans-serif;
    color:white;
    margin-left:5%;
    margin-right:5%;
}

em{
    color:white
}

h1{
    color:darksalmon;
    font-family: 'Anton', sans-serif;
}

strong{
    color:darksalmon
}

.eng{
    width:45%;
    margin-left:2%;
    margin-right:2%;
    vertical-align:top;
    text-align:justify;
    float: left;
    margin-top: 54px
}

.spn{
    width:45%;
    margin-left:2%;
    margin-right:2%;
    vertical-align:top;
    text-align:justify;
    float: right;
}