/* mobileb first */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html, body{
    height:100%;
}

body{
    background:#fedccc;
    font-family: 'Oswald', sans-serif;
    height:100%;
}

a{
    text-decoration: none;
}

.back{
    color:darksalmon;
    text-decoration:none;
}

header, footer, main{
    padding:20px;
    border:1px solid #000000;
    color:#141414;
}

.flex-container{
    display:flex;
    flex-direction: column;
    height:100%;
    overflow:auto;
}

header, footer{
    line-height:60px;
}

main{
    flex:1;
}

.image img{
    height:260px;
    object-fit: cover;
    object-position: 0% 25%;
}

.pullquote{
    color:darksalmon;
    font-style:italic;
    font-size:1.68em;
    line-height:1.4em;
    padding:15px 0;
}

.image img{
    width:100%;
}



/* desktop media query */
@media (min-width: 960px){
    .flex-container{
        background:#fedccc;
        height:100%;
    }
    
    main{
    display:flex;
    flex-direction: column;
    }

    section{
        display:flex;
    }

    .image img{
        height:560px;
        object-position: 0% 40%;
    }

    .column{
        display:flex;
        flex-direction:column;
        width:50%;
        padding:0px 20px;
    }
}